[Unit]
Description=Run Crypto Analyst every 15 minutes
[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=10
Unit=crypto-analyst.service
[Install]
WantedBy=timers.target
